$bgcolor : #1a1a1a;
$basefont: 'Poppins',sans-serif;

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

html{
    background: $bgcolor;
}

.main{
    background: $bgcolor;
    height: 100vh;
    @include flex();
    .enter{
        @include flex();
        flex-direction: column;
        height: 400px;
        font-family: $basefont;
        width: 400px;
        background: rgb(17, 17, 17);
        h3{
            font-weight: 600;
            color: rgb(190, 190, 190);
            margin-bottom: 40px;
        }
        form{
            @include flex();
            flex-direction: column;
            width: 90%;
            padding: 0;
            input{
                outline: none;
                box-shadow: none;
                color: white;
                width: 300px;
                padding: 10px 20px;
                margin: 5px 0;
                text-align: center;
                border: 2px solid white;
                border-radius: 30px;
                background: transparent;
            }
            button{
                width: 300px;
                padding: 10px 20px;
                border-radius: 30px;
                margin-top: 10px;
            }
        }
    }
}



//instructions.html

.imain{
    background: rgba(255, 255, 255, 0.87);
    font-family: $basefont;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    .inst{
        padding: 20px;
        li{
            // list-style: square;
            margin: 5px 0;
        }
        .group{
            margin-top: 20px;
            position: relative;
            left: 50%;
            top: 10px;
            transform: translateX(-50%);
            width: 80%;
            @include flex();
        }
        button{
            margin-top: 30px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


//test window

.test{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    .timer{
        width: 100px;
        height: 50px;
        // background: $bgcolor;
        font-family: $basefont;
        font-size: 20px;
        text-align: center;
        float: right;
        color: #1a1a1a;
    }
    .main{
        width: 600px;
        height: 500px;
        display: flex;
        flex-direction: column;
        background: rgb(228, 228, 228);
        border-radius: 30px;
        margin: 10px;
        padding: 20px;
        .question{
            font-family: $basefont;
            padding: 20px;
            .head{
                font-size: 20px;
                word-spacing: 1px;
                font-weight: 700;
            }
            .ans{
                padding: 20px;
                label{
                    margin-left: 5px;
                }
            }
        }
        .controls{
            width: 100%;
            justify-content: space-between;
            padding: 20px 40px;
            font-family: $basefont;
            button{
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                margin-bottom: 10px;
                i{
                    font-size: 35px;
                    position: relative;
                }
            }
        }
    }
}


//thanks

.thanks{
    font-family: $basefont;
    text-align: center;
    .tick{
        font-size: 6em;
        font-weight: 700;
        margin: 20px 0;
    }
    .greet{
        margin-bottom: 40px;
    }
}